[user]
	name = Shiva V
	email = vshiva@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = false
[push]
	gpgsign = if-asked
[core]
	excludesfile = /Users/shiva/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[gpg]
	program = gpg

# [url "git@github.com-org:org"]
# 	insteadOf = https://github.com/org

[url "git@github.com:"]
	insteadOf = https://github.com/
